.HomeComponent {
    // padding: 10px;
}
.statusBox {
    height: 10vw;
}
.switchBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2;
    background-color: #000;
    height: 40vh;
    color: #fff;
}
.gaugeBox {
    display: grid;
    height: 50vh;
}