:root {
  --foreground-rgb: 2, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #000;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
